*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100vw;
    height: 70px;
    background-color: cornflowerblue;
    background-image: url(img/pattern.png);
    background-size: 40vh;
    background-repeat: repeat;
    margin-bottom:10px;
}
.continitore{
    width: 1057px;
    margin: auto;
}
.logo{
    color: white;
    position: absolute;
    top: 33px;
    padding: 4px;
    text-shadow: 1px 1px #000000;
}
.logo1{
    font-size: small;
    position: absolute;
    top: 0;
    left: 18px;
}
.logo2{
    font-size: x-large;
}
a{
    color: dodgerblue;
    text-decoration: none;
}
.g{
    color: gray;
}
.g2{
    font-size: small;
}
p{
    margin-top: 25px;
    margin-bottom: 25px;
}
ul{
    padding-left: 15px;
}
.m{
    width: 250px;
    text-align: start;
}
table{
    margin-top: 50px;
}
.back{
    background-color: #b1e5f2;
}
th{
    background-color: #20a9e5;
}
.ad{
    height: 207px;
    width: 311px;
    position: relative;
    display: inline-block;
    margin: 30px;
    left: 150px;
}
h2{
    position: absolute;
    top: 3px;
    left: 7px;
    color: white;
}
h3{
    color: grey;
}
